@use "/scss/helpers/" as *;

.button {
  @include button-reset;
  @include flex-center(true);

  font-size: rem(15);
  line-height: 1.6;
	color: var(--color-brown);
	border: var(--border);
	height: var(--button-height);
	width: rem(530);

  @include hover() {
    background-color: var(--color-brown);
		opacity: 0.6;
		color: var(--color-biege)
  }

	&.active {
		background-color: var(--color-brown);
		color: var(--color-light);
		pointer-events: none;
	}
}
