@use "@/style/helpers/" as *;

.footer {
  display: flex;
  padding: rem(56) rem(40);

	@include mobile {
		padding: rem(40) 0;
	}

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }

  &__menu {
    max-width: rem(580);

		@include mobile {
			max-width: rem(510);
		}

    &-list {
      display: flex;
      column-gap: rem(32);
      flex-wrap: wrap;

			@include mobile {
				column-gap: rem(20);
				text-align: center;
			}

			@include mobile-s {
				column-gap: rem(15)
			}
    }
		
		&-link {
			@include flex-center(true);
			
			font-size: rem(15);
			line-height: 1.49;
			height: rem(40);

			@include hover(false) {
				opacity: 0.6;
			}

			&:active {
				opacity: 0.3;
			}
		}
  }

  &__info {
    display: flex;
    column-gap: rem(16);
		margin-inline: auto;

		@include mobile {
			margin-inline: 0;
			justify-content: space-between;
			flex-wrap: wrap;
			row-gap: rem(8);
		}
  }

  &__text {
    font-size: rem(13);
    line-height: 1.5;
    color: var(--color-gray);
  }
}
