@use "@/style/helpers/" as *;

.award {
  padding-block: rem(120);
  background-color: var(--color-red);
  color: var(--color-red-light);

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);

		@include tablet {
			flex-direction: column;
			row-gap: rem(20);
			align-items: center;
			text-align: center;
		}
  }

  &__title {
		@include fluid-text(47, 36);

    line-height: 1.33;
    letter-spacing: 0.02em;
  }

  &__description {
    max-width: rem(595);
  }
}
