@use "@/style/helpers/" as *;

.about {
  padding-block: rem(220);

	@include tablet {
		padding-block: rem(180);
	}

	@include mobile {
		padding-block: rem(120);
	}

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(3);
    align-items: center;
  }

  &__description {
		@include fluid-text(32, 24);

    max-width: rem(870);
    line-height: 1.4;
    text-align: center;

		& span {
			font-style: italic;
		}
  }
}
