@use "@/style/helpers/" as *;

.header {
  background-color: var(--color-red);
  padding-block: rem(45);

	@include tablet {
		padding-block: rem(30);
	}

	@include mobile-s {
		padding-block: rem(20) rem(12);
	}

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

		@include tablet {
			display: flex;
			flex-wrap: wrap;
			row-gap: rem(15);
		}
  }

  &__menu {
		@include tablet {
			order: 2;
		}

    &-list {
      display: flex;
      column-gap: rem(20);

			@include mobile-s {
				column-gap: rem(10);
			}
    }

    &-item {
      display: flex;
      height: 100%;
    }

    &-link {
			@include flex-center(true);

      font-size: rem(15);
      line-height: 1.6;
      color: var(--color-red-light);
			height: rem(40);

			@include hover(false) {
				opacity: 0.6;
			}

			&:active {
				opacity: 0.3;
			}
    }
  }

  &__logo {
    margin-inline: auto;
		
		@include tablet {
			order: 1;
			flex-grow: 1;
			width: 100%;
		}
  }

  &__contacts {
    display: flex;
    align-items: center;
    column-gap: rem(16);
		margin-left: auto;

		@include tablet {
			order: 3;
		}
  }
}
